{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>GoLang Gin framework primers</title>
</head>
<body>
    {{ template "header.html" .}}
    <div>
        <div class="album py-4">
            <div class="container">  
                <div class="row">
                    <!--Loop over the list of videos -->        
                    {{range .videos }}        
                        <div class="col-md-4">
                            <div class="card mb-4">  
                                <div class="card-header">{{.Title}}</div>      
                                <div class="card-body">
                                    <p class="card-text">
                                        <p>{{.Description}}</p>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{.URL}}" target="_blank" class="btn btn-dark">Watch Video</a>
                                </div>
                            </div>
                        </div>        
                    {{end}}
                </div>          
            </div>
        </div>        
    </div>
    {{ template "footer.html" .}}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
{{end}}